<?xml version="1.0"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<distributable/>

	<display-name>Namics Spring Batch Demo</display-name>

	<!-- Java-based Spring container definition -->
	<context-param>
		<param-name>contextClass</param-name>
		<param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
	</context-param>

	<!-- Location of Java @Configuration classes that configure the components that makeup this application -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			<!--Web Configuration-->
			com.namics.oss.spring.support.batch.demo.config.WebAppConfig
		</param-value>
	</context-param>

	<context-param>
		<description>
			Application-wide html escaping setting.
		</description>
		<param-name>defaultHtmlEscape</param-name>
		<param-value>false</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- ================ FILTER DEFINITIONS ================ -->

	<!-- Character Encoding. -->
	<filter>
		<filter-name>charsetFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<async-supported>true</async-supported>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>charsetFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<!-- Spring Hidden Http method filter -->
	<filter>
		<filter-name>hiddenHttpMethodFilter</filter-name>
		<filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>hiddenHttpMethodFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!--<filter>-->
	<!--<display-name>Terrific Filter</display-name>-->
	<!--<filter-name>terrificFilter</filter-name>-->
	<!--<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>-->
	<!--<async-supported>true</async-supported>-->
	<!--</filter>-->
	<!--<filter-mapping>-->
	<!--<filter-name>terrificFilter</filter-name>-->
	<!--<url-pattern>/terrific/*</url-pattern>-->
	<!--</filter-mapping>-->

	<!-- ================ SERVLET DEFINITIONS ================ -->

	<!--  Configuration of the Namics-Spring-Batch Module Servlet -->
	<servlet>
		<servlet-name>batch-job</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>

		<init-param>
			<param-name>contextConfigLocation</param-name>
			<!-- <param-value>classpath*:/META-INF/nxmon/spring/batch-servlet-2.5.xml</param-value> -->
			<param-value>classpath*:com/namics/oss/spring/support/batch/web/config/SpringBatchSupportWebServletConfig.java</param-value>
		</init-param>

		<load-on-startup>20</load-on-startup>
		<async-supported>true</async-supported>
		<!-- enable only for Servlet 3.0 spez. -->
	</servlet>

	<!-- Configure mapping for servlet.
	CAREFUL: consider security configuration! -->
	<servlet-mapping>
		<servlet-name>batch-job</servlet-name>
		<url-pattern>/batch/*</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>app</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>10</load-on-startup>
		<async-supported>true</async-supported>
	</servlet>

	<servlet-mapping>
		<servlet-name>app</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<!-- The time to hold session states active -->
	<session-config>
		<session-timeout>10</session-timeout>
		<tracking-mode>COOKIE</tracking-mode>
	</session-config>
</web-app>