<!DOCTYPE html>
<html>
<head>
	<title>Namics Spring Batch Demo App</title>
	<link rel="stylesheet" href="/terrific/main.css" type="text/css"/>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-12 col-lg-12">
			<h1>Spring Batch Demo - Job Overview</h1>
			<table class="table table-striped">
				<thead>
				<tr>
					<th>Job Name</th>
					<th>Status</th>
					<th>Start Time - End Time</th>
					<th>Actions</th>
				</tr>
				</thead>
				<tbody>
				<tr data-th-each="job : ${jobs}">
					<td data-th-text="#{${job.name}}"></td>
					<td data-th-text="${job.status}"></td>
					<td data-th-text="${job.startTime!=null?#dates.format(job.startTime, 'dd.MM.yyyy HH:mm:ss'):''} + ' - ' + ${job.endTime!=null?#dates.format(job.endTime, 'dd.MM.yyyy HH:mm:ss'):''}"></td>
					<td>
						<div data-th-if="${job.running}">
							Running...
							<form method="POST" data-th-attr="action='/old/jobs/' + ${job.name} + '/stop'">
								<a onClick="$(this).closest('form').submit(); $(this).preventDefault();"
								   class="edit btn btn-xs"><i class="glyphicon glyphicon-stop"></i> Stop</a>
							</form>
						</div>
						<div data-th-unless="${job.running}">
							<form method="POST" data-th-attr="action='/old/jobs/' + ${job.name} + '/start'">
								<a onClick="$(this).closest('form').submit(); $(this).preventDefault();"
								   class="edit btn btn-xs"><i class="glyphicon glyphicon-play"></i> Start</a>
							</form>
						</div>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<script src="/terrific/main.js"></script>
<!--Bootstrap terrific -->
<script type="text/javascript">
	(function ($) {
		$(document).ready(function () {
			var application = new Tc.Application($(document), {});
			application.registerModules();
			application.start();
		});
	})(Tc.$);
</script>
</body>
</html>